* {
	font-family: Ubuntu;
	font-size: 14px
}

::-webkit-scrollbar {
	width: 6px;
	height: 0;
	scroll-behavior: smooth
}

::-webkit-scrollbar-track {
	border-radius: 3px;
	background: rgba(0, 0, 0, .15);
	scroll-behavior: smooth
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: rgba(0, 0, 0, .3);
	scroll-behavior: smooth
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: 0 0;
	background-color: transparent
}

selector {
	color: #000
}

selector:hover {
	color: #333
}

selector.selected {
	color: #aaa
}